.timerAppContainer {
  width: 500px;
  margin: 0 auto;
}

.timerDisplay {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.timerDisplay .value {
  font-size: 80px;
  font-weight: bold;
}

.timerDisplay .unit {
  font-size: 20px;
}

.timerButton {
  display: flex;
  justify-content: center;
}

.timerButton button {
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.timerButton button.startButton {
  background-color: rgba(255, 185, 242, 0.911);
  color: rgb(255, 255, 255);
}
